[run]
source = "rubik", "rubik.application", "rubik.application.help_functions", "rubik.cubes"


[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
